body {
  margin: 0;
  text-align: center;
  /* font-family: cursive; */
}

h1 {
  margin: 0 auto;
  width: 10%;
}

.struct-container {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #58b4ae;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: white;
}