body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  /*16px*2*/
  margin: 0;
  text-align: center;
}

p {
  line-height: 2;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  /*90/16=526.5*/
  margin: 3.125rem auto 0;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.struct-container {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4f9f5;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  padding: 50px 0 20px;
}

.bottom-container .footer-link {
  font-weight: bold;
  text-decoration: none;
}

.bottom-container .footer-link:hover {
  color: white;
}

.bottom-container .footer-link:first-child {
  padding-left: 0;
}

hr {
  border: 6px dotted #EAF6F6;
  /* Width | Style | Color */
  border-bottom: none;
  margin: 100px auto;
  /* width: 4%; */
  /* we can modify by add modify css class for cool on csslint*/
  /* [Warning]: Using Width with border can sometimes make elements larger than you expect*/
}

.hr-width {
  width: 4%;
}

.skill-row {
  margin: 6.25rem auto;
  text-align: left;
  width: 50%;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.chilli-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.contact-me {
  margin: 0 auto;
}

.btn {
  background-color: #66BFBF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #37796d;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}