body {
  font-family: 'Merriweather', serif;
  font-size: 100%;
  /*16px*2*/
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  /*90/16=526.5*/
  margin: 3.125rem auto 0;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.struct-container {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4f9f5;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: white;
}